body{
    background-color: #eeeeee;
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.form{
    background-color: white;
    border-radius: 1rem;
    box-shadow:0 0 0.2rem 0rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    gap:1rem;
}

.form-header{
    color:var(--primary-color);
    margin:0;
}

.form-body{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}

.single-line{
    display:flex;
    gap:1.5rem;
    justify-content:space-between;
}

.checkbox-input{
    display:flex;
    align-items:center;
}