body{
    width:600px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:6rem auto;
}

.quiz-cards{
    display:flex;
    gap:2rem;
}

.card{
    overflow:hidden;
}

.card-container{
    width:275px;
}

header{
    position:absolute;
    top:0;
    left:0;
    right:0;
}